.comments{
  display: flex ;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.singleComment{
  text-align: center;
  border-style: solid;
  border-width: thin;
  width: 200px;
}
