.individualSong{
  display: flex;
  flex-direction: row
}

.albumCover{
  height: 200px;
  width: 200px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.albumCover img{
  max-height: 160px;
  max-width: 160px
}

.songDescription{
  height: 200px;
  width: 200px;
  display:flex;
  justify-content: center;
  align-items: center;
}
