.NavBar{
  height: 75px;
  width:100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navigation{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 400px
}
