<link href="https://fonts.googleapis.com/css?family=Germania+One" rel="stylesheet">

.profileContainer{
  width: 80%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}

.buttons{
  /* width: 80%; */
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.Favorites{
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.Posted{
  /* width: 80%; */
  background-color: orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Germania One', cursive;
}
